#### For each of the following questions, formulate a null and alternative hypothesis (be as specific as you can be), then give an example of what a true positive, true negative, type I and type II errors would look like.

<b>Is the website redesign any good?</b>

rephrase to testable hypothesis: 
- Does the redesigned website have a higer click rate than before, which was 5%? 

null hypothesis: 
- The redesigned website has the same click rate as before, which was 5%.

alternative hypothesis:
- The redesigned website does not have a click rate of 5%

true positive: (reject the null hypothesis and the null hypothesis is false)
- the click rate isn't 5% (and it's not)

true negative: (fail to reject the null hypothesis and the null hypothesis is true)
- the click rate is 5% (and it is)

type 1 error: (reject the null hypothesis and the the null hypothesis is true)
- the click rate is not 5% (but it is) 

type 2 error: (accept the null hypothesis and the null hypothesis is false)
- the click rate is 5% (but it's not)

<b>Is our television ad driving more sales?</b>

rephrase to testable hypothesis: 
- Have our sales increased due to the recent television ads? 

null hypothesis: 
- Our sales have not increased due to television ads. 

alternative hypothesis:
- Our sales have increased due to television ads. 

true positive: (reject the null hypothesis and the null hypothesis is false)
- Our sales have increased due to television ads (and they have increased)

true negative: (fail to reject the null hypothesis and the null hypothesis is true)
- Our sales have not increased due to television ads (and they haven't increased)

type 1 error: (reject the null hypothesis and the the null hypothesis is true)
- Our sales have increased due to television ads (but they haven't increased!)

type 2 error: (accept the null hypothesis and the null hypothesis is false)
- Our sales have not increased due to television ads (but they have increased!)

<b>Has the network latency gone up since we switched internet service providers?</b>

rephrase to testable hypothesis: 
- Has the network latency increased with new internet provider?

null hypothesis: 
- The network latency was not improved since we switched providers

alternative hypothesis:
- The network latency has improved since we switched providers

true positive: (reject the null hypothesis and the null hypothesis is false)
- the network latency has improved (and it has)

true negative: (fail to reject the null hypothesis and the null hypothesis is true)
- the network latency has not improved (and it hasn't)

type 1 error: (reject the null hypothesis and the the null hypothesis is true)
- the network latency has improved (and it hasn't)

type 2 error: (accept the null hypothesis and the null hypothesis is false)
- the network latency has not improved (and it has)

#### Ace Realty wants to determine whether the average time it takes to sell homes is different for its two offices. A sample of 40 sales from office #1 revealed a mean of 90 days and a standard deviation of 15 days. A sample of 50 sales from office #2 revealed a mean of 100 days and a standard deviation of 20 days. Use a .05 level of significance.

In [31]:
from math import sqrt
from scipy import stats

office1_n = 40
office1_mean = 90
office1_sd = 15
office2_n = 50
office2_mean = 100
office2_sd = 20

In [32]:
t = (office1_mean - office2_mean) / (office1_sd - math.sqrt(office1_n))
t

-1.1526786659641493

In [33]:
p = stats.t(office1_n - 1).cdf(t) * 2
p

0.25605872029944227

In [142]:
print("the p value is greater than alpha, therefore, we fail to reject the null hypothesis")

the p value is greater than alpha, therefore, we fail to reject the null hypothesis

#### Load the mpg dataset and use it to answer the following questions:

In [87]:
from pydataset import data
import pandas as pd

mpg = data('mpg')
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

Is there a difference in fuel-efficiency in cars from 2008 vs 1999?

> H0: there is no difference in fuel-efficiency cars

In [98]:
mpg["avg_mpg"] = (mpg.cty + mpg.hwy) / 2
mpg["is_fuelefficient"] = mpg.avg_mpg >= 30
mpg.head()

sample1 = mpg [mpg.is_fuelefficient & (mpg.year == 1999)].avg_mpg
sample2 = mpg [mpg.is_fuelefficient & (mpg.year == 2008)].avg_mpg

stats.ttest_ind(sample1,sample2)

Ttest_indResult(statistic=2.088197952163284, pvalue=0.07021454842002324)

In [143]:
print("the p value is greater than alpha, therefore, we fail to reject the null hypothesis")

the p value is greater than alpha, therefore, we fail to reject the null hypothesis

Are compact cars more fuel-efficient than the average car?

In [113]:
mpg.head()

sample3 = mpg [mpg["class"] == "compact"].avg_mpg
sample4 = mpg [mpg["class"] != "compact"].avg_mpg

stats.ttest_ind(sample3,sample4)

Ttest_indResult(statistic=6.731177612837954, pvalue=1.3059121585018135e-10)

In [135]:
print("the p value is extremely low, therefore, we reject the null hypothesis")

the p value is extremely low, therefore, we reject the null hypothesis

Do manual cars get better gas mileage than automatic cars?

In [141]:
mpg.head()

sample5 = mpg [mpg["trans"].str.startswith("auto")].avg_mpg
sample6 = mpg [mpg["trans"].str.startswith("man")].avg_mpg

stats.ttest_ind(sample5,sample6)

Ttest_indResult(statistic=-4.593437735750014, pvalue=7.154374401145683e-06)

In [137]:
print("the p value is extremely low, therefore, we reject the null hypothesis")

the p value is extremely low, therefore, we reject the null hypothesis